

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 4vh ;
    color: white;
    cursor: pointer;
    flex: 0.5;
    -webkit-flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in-out;
    /*box-shadow: gray 0.5vh 0.5vh 4vh;*/
}

.panel h3 {
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    transition-duration: 0.4s;
}


.active {
    flex: 6;
    -webkit-flex: 6;
}

.active h3{
    opacity: 1;
    transition-delay: 400ms;
    transition-duration: 0.7s;
}

@media (max-width: 580px) {
    .panel {
        margin: 4px;
        height: 60vh;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}